.hangman-start-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: var(--font-size-medium);
	color: var(--color-text-white);
	padding: 20px;
}

.hangman-start-user-input {
	padding: 5px;
	margin: 10px;
	font-size: var(--font-size-medium);
}

.hangman-start-button {
	background-color: var(--color-primary);
	border-radius: 5px;
	text-align: center;
	padding: 5px;
	width: 150px;
	cursor: pointer;
}

.hangman-start-button:hover {
	background-color: var(--color-text-white);
	color: var(--color-primary);
}

.hangman-start-leaderboard {
	display: table;
	align-items: center;
	justify-content: center;
	padding: 10px;
}