.keyboard-grid {
	width: 100%;
	display: block;
	max-width: 500px;
}

.keyboard-row {
	display: flex;
	width: 100%;
}

.keyboard-spacer {
	flex: 0.5;
}

.keyboard-button {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	margin: 3px;
	border-radius: 5px;
	background-color: var(--color-primary);
	font-size: var(--font-size-large);
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
}

.keyboard-button:hover {
	background-color: var(--color-text-white);
	color: var(--color-primary);
}

.keyboard-button-disabled-correct {
	background-color: var(--color-text-success);
	color: var(--color-text-white);
	cursor: not-allowed;
}

.keyboard-button-disabled-incorrect {
	background-color: transparent;
	color: var(--color-primary);
	cursor: not-allowed;
}