@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --color-primary: #800040;
  --color-primary-light: #a06080;
  --color-primary-dark: #600030;
  --color-background: #200010;
  --color-background-light: #420c27;
  --color-secondary: #0179e2;
  --color-disabled: #999999;
  --color-text-white: #f0f0f0;
  --color-text-black: #000000;
  --color-text-error: #ce6262;
  --color-text-warning: #bfbb54;
  --color-text-success: #63b159;

  --font-size-small: calc(12px);
  --font-size-medium: calc(16px);
  --font-size-large: calc(24px);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}