@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --color-primary: #800040;
  --color-primary-light: #a06080;
  --color-primary-dark: #600030;
  --color-background-light: #420c27;
  --color-secondary: #0179e2;
  --color-text-error: #ce6262;
  --color-text-warning: #bfbb54;
  --color-text-success: #63b159;
}