.hangman_start_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: var(--font-size-medium);
	color: var(--color-text-white);
	padding: 20px;
}

.hangman_start_user_input {
	color: var(--color-primary-dark);
	padding: 5px;
	margin: 10px;
	font-size: var(--font-size-medium);
}

.hangman_start_button {
	background-color: var(--color-primary);
	border-radius: 5px;
	text-align: center;
	padding: 5px;
	width: 150px;
	cursor: pointer;
}

.hangman_start_button:hover {
	background-color: var(--color-text-white);
	color: var(--color-primary);
}

.hangman_start_leaderboard {
	display: table;
	align-items: center;
	justify-content: center;
	padding: 10px;
}